// Light Themes

// Background Colour
// $bg-colour: #f9f7f7;
$bg-colour: #dbe2ef;

// Base colour
$black: #000;
$white: #fff;

$primary-colour: #3f72af;
$secondary-colour: #112d4e;
$tertiary-colour: #f9f7f7;

// Font colour
$font-colour: #333;

// Borders
$border-radius: 1.5rem;
