.sidebar {
  background: rgba($tertiary-colour, 0.65);
  width: 35rem;
  max-height: 100dvh;
  height: 100%;
  display: flex;
  flex-flow: column;
  top: 0;
  position: sticky;

  &__title {
    align-content: center;
    min-height: 10rem;
    height: 20dvh;
  }

  &__navList {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
  }

  &__setting {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
